[submodule "_common core/so_long"]
	path = _common core/so_long
	url = https://github.com/AnghiAndrei/so_long.git
[submodule "_common core/minishell"]
	path = _common core/minishell
	url = https://github.com/AnghiAndrei/minishell.git
[submodule "_common core/cub3D"]
	path = _common core/cub3D
	url = https://github.com/AnghiAndrei/cub3D.git
[submodule "_common core/Webserv"]
	path = _common core/Webserv
	url = https://github.com/AnghiAndrei/webserv.git
