body,
html {
  background-color: black;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.columns {
  display: flex;
}

#headerTop {
  width: 100%;
  position: relative;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
}

.menu {
  height: 10%;
  padding: unset;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: unset;
  cursor: pointer;
  flex-shrink: 0;
}

.menu li {
  border-radius: 10px;
  background-color: #5e12e6;
  border-color: #f8f9fa;
  color: #f9c000;
  display: flex;
  justify-content: space-evenly;
}

.menu li a {
  display: flex;
  text-decoration: none;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

hr {
  height: 6px;
  background-color: #fa4a68;
  opacity: 0.8;
  border: none;
  margin: auto;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.Item-1:hover ~ hr {
  margin-left: 0;
}

.Item-2:hover ~ hr {
  margin-left: 100%;
}

.Item-3:hover ~ hr {
  margin-left: 200%;
}

.Item-4:hover ~ hr {
  margin-left: 300%;
}

.hr-position-0 {
  margin-left: 0;
}

.hr-position-1 {
  margin-left: 100%;
}

.hr-position-2 {
  margin-left: 200%;
}

.hr-position-3 {
  margin-left: 300%;
}

#logo {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}

@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

#gameLogoButton {
  animation: bounce 2s infinite;
  background-color: transparent;
  border: none;
  height: 100%;
}

#gameLogoButton img {
  width: 100%;
  height: 100%;
}

.styledButton img {
  width: 30px;
  height: auto;
}

#logoutButton {
  width: auto;
  background-color: transparent;
  border: none;
}

#notificationButton {
  width: auto;
  background-color: transparent;
  border: none;
}

#profileButton {
  width: auto;
  background-color: transparent;
  border: none;
}

#setter {
  border-radius: 10px;
  background-color: #fbc200;
  display: flex;
  width: auto; /* Adjust as needed */
  position: absolute;
  height: fit-content;
  justify-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #67676a;
  margin: 10px;
  right: 0;
  top: calc(50% - 10px);
  transform: translate(0, -50%);
}

#navbar .btn {
  display: flex;
  background-color: #5e12e6;
  color: #ffff;
  border: none;
  padding: 5px 25px;
  border-radius: 5px;
}

footer {
  color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  margin-top: auto;
}

#clock,
footer p {
  margin: 0;
}

.btn:hover {
  color: black;
  background-color: #ff5b9c;
}

.container {
  overflow: auto;
  max-width: 95%;
}

#notificationDot {
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.dropdown {
  display: inline-block;
  width: auto;
}

/*.dropdown {*/
/*  position: relative;*/
/*  display: contents;*/
/*}*/

.dropdown-menu {
  padding-left: 2px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: auto;
  height: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: auto; /* Add a scrollbar if the content is too long */
}
