.custom-select {
  background-color: #333; /* Dark background for dropdowns */
  color: #fff; /* White text */
  border: 1px solid #444; /* Slightly lighter border for visibility */
}

.list-group-item {
  background-color: #222; /* Dark grey background for list items */
  border-color: #444; /* Lighter grey border for distinction */
}

hr {
  border-top: 1px solid #444; /* Light grey horizontal rule */
}

.list-group-item {
  color: #ffffff;
}

.text-muted {
  --bs-text-opacity: 1;
  color: rgb(251 194 3) !important;
}

p {
  color: #ffffff;
}

.mb-0 {
  color: #ffffff;
}

.modal-header {
  justify-content: space-around;
}

#confirm-message {
  color: #000000;
}

.modal-footer {
  justify-content: space-between;
}
