[mysqld]
user=root
# Set the TCP/IP address to listen on all available network interfaces
bind-address=0.0.0.0

# Set the TCP/IP port number (default: 3306)
port=3306

# Set the MySQL data directory
datadir=/var/lib/mysql

# Set the socket file path
socket=/var/run/mysqld/mysqld.sock

# Set the default character set and collation
character-set-server=utf8
collation-server=utf8_general_ci
# Set the maximum allowed packet size for network communication
max_allowed_packet=64M

# Set the default storage engine
default-storage-engine=InnoDB

# Set the server ID for replication
server-id=1

# Set the log file paths
log_error=/var/log/mysql/error.log
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow-query.log

# Enable query cache
query_cache_type=1
query_cache_limit=2M
query_cache_size=64M

[mysql]
# Set the default client character set
default-character-set=utf8