<!doctype html>
<html lang="en">
  <head>
    <title>Transcendence</title>
    <link href="../styles/gamelobby.css" rel="stylesheet" />
    <script type="module" src="../src/home.js" defer></script>
  </head>
  <body>
    <div class="row">
      <div class="col-12">
        <h1 id="gameModesTitle">GAME MODES</h1>
        <!-- <h2>Choose the game modes:<br><br>Local Pong: Two players playing on the same keyboard<br>Remote Pong: Two players playing from two different devices<br>Tournament: Creating a tournament with more players participating</h2> -->
        <h2>
          <span id="gameModesChoose">Scegli le modalità di gioco:</span><br />
          <span id="localPongDescription"
            >1v1 Local: Gioca contro chi vuoi sulla stessa tastiera</span
          ><br />
          <!--            <span id="remotePongDescription">Pong Remoto: Due giocatori che giocano da due dispositivi diversi</span><br>-->
          <span id="pongvscpuDescription"
            >Pong vs CPU: Gioca contro la CPU</span
          ><br />
          <span id="tournamentDescription"
            >Torneo: Crea un torneo con più giocatori partecipanti</span
          ><br />
          <span id="tictactoeDescription"
            >Tris: Gioca a Tris contro un avversario sulla stessa tastiera</span
        </h2>
        <div class="row">
          <div class="col text-center">
            <button id="createLocalGame" class="btn btn-primary m-2">
              1v1 Local
            </button>
            <!--                <button id="createRemoteGame" class="btn btn-primary m-2">Remote Pong</button>-->
            <button id="createCPUGame" class="btn btn-primary m-2">
              Play against CPU
            </button>
            <button id="createTournament" class="btn btn-primary m-2">
              Tournament
            </button>
            <button id="createTicTacToe" class="btn btn-primary m-2">
              Tic-Tac-Toe
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Transcendence</title>
    <link href="../styles/gamelobby.css" rel="stylesheet" />
    <script type="module" src="../src/home.js" defer></script>
</head>
<body>
<div class="row">
    <div class="col-12">
        <h1 id="gameModesTitle">GAME MODES</h1>
        <p id="gameModesDescription">Choose the game modes:</p>
        <ul>
            <li>
                <p id="localPongDescription">Local Pong: Two players playing on the same keyboard</p>
                <button id="createLocalGame" class="btn btn-primary m-2">Local Pong</button>
            </li>
            <li>
                <p id="remotePongDescription">Remote Pong: Two players playing from two different devices</p>
                <button id="createRemoteGame" class="btn btn-primary m-2">Remote Pong</button>
            </li>
            <li>
                <p id="tournamentDescription">Tournament: Creating a tournament with more players participating</p>
                <button id="createTournament" class="btn btn-primary m-2">Tournament</button>
            </li>
        </ul>
    </div>
</div>
</body>
</html> -->
