<!doctype html>
<html lang="en">
  <head>
    <link href="/styles/lobby.css" rel="stylesheet" />
    <title>Trascendence</title>
  </head>
  <body id="BODY">
    <div id="headerTop">
      <div id="logo">
        <button id="gameLogoButton">
          <img src="/public/game-logo.png" alt="Game Logo" />
        </button>
      </div>
      <div class="row" id="setter">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle styledButton"
            type="button"
            id="notificationButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img src="/public/notification-bell.svg" alt="Notification" />
            <span id="notificationDot"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="notificationButton"></div>
        </div>
        <button id="profileButton" class="styledButton">
          <img src="/public/profile.svg" alt="Profile" />
        </button>
        <button id="logoutButton" class="styledButton">
          <img src="/public/log-out.svg" alt="Logout" />
        </button>
      </div>
    </div>
    <ul class="menu">
      <li class="Item-1">
        <a id="Friends">Friends</a>
      </li>
      <li class="Item-2">
        <a id="Settings">Settings</a>
      </li>
      <hr />
    </ul>
    <main class="container" id="changingBody"></main>
    <footer class="footer-border">
      <div id="clock"></div>
      <p>© 2024 Transcendence. All rights reserved.</p>
    </footer>
    <div
      class="modal fade"
      id="confirmationModal"
      tabindex="-1"
      aria-labelledby="modalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-white">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Update Status</h5>
            <button
              type="button"
              class="btn-close btn-close-white"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" id="modalMessage">
            <!-- Message will be injected here -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="/src/home.js"></script>
  </body>
</html>
