<!--<link href="/styles/leaderboard.css" rel="stylesheet" />-->
<!--<div-->
<!--  class="hstack"-->
<!--  style="-->
<!--    display: flex;-->
<!--    gap: 1rem;-->
<!--    align-items: center;-->
<!--    justify-content: center;-->
<!--    flex-direction: row;-->
<!--  "-->
<!--&gt;-->
<!--  <table class="leaderboard-table" style="position: relative; z-index: 1">-->
<!--    <tbody>-->
<!--      <tr class="leaderboar__user leaderboard__user&#45;&#45;4">-->
<!--        <td data-column="Player Details">-->
<!--          <div-->
<!--            class="hstack"-->
<!--            style="-->
<!--              display: flex;-->
<!--              gap: 1rem;-->
<!--              align-items: center;-->
<!--              justify-content: flex-start;-->
<!--              flex-direction: row;-->
<!--            "-->
<!--          >-->
<!--            <a-->
<!--              class="avatar-link link hint&#45;&#45;top"-->
<!--              aria-label="@gunnar"-->
<!--              href="/player/gunnar"-->
<!--              ><div style="position: relative">-->
<!--                <div class="avatar-link__image avatar-link__image&#45;&#45;pro">-->
<!--                  <img-->
<!--                    src="https://firebasestorage.googleapis.com/v0/b/cssbattleapp.appspot.com/o/user%2FE1GHozp4gZeN5c81ZfSoqT0WrC22%2Favatar_E1GHozp4gZeN5c81ZfSoqT0WrC22.png?alt=media"-->
<!--                    alt="gunnar avatar"-->
<!--                    class="leaderboard__user-avatar"-->
<!--                    width="32"-->
<!--                    height="32"-->
<!--                  />-->
<!--                </div>-->
<!--                <div class="avatar-link__probadge-wrap">-->
<!--                  <img-->
<!--                    height="15"-->
<!--                    width="30"-->
<!--                    class="pro-badge"-->
<!--                    src="/images/pro-badge.svg"-->
<!--                    alt="Pro badge"-->
<!--                  />-->
<!--                </div></div-->
<!--            ></a>-->
<!--            <div style="display: flex; gap: 0.25rem; align-items: center">-->
<!--              <a class="name-link" href="/player/gunnar"-->
<!--                ><span class="leaderboard__user-name"-->
<!--                  >Gunnar Bittersmann</span-->
<!--                ></a-->
<!--              >-->
<!--            </div>-->
<!--          </div>-->
<!--        </td>-->
<!--        <td data-column="Score">135107.76</td>-->
<!--        <td data-column="Meta">(194 Targets)</td>-->
<!--        <td data-column="Rank">#04</td>-->
<!--      </tr>-->
<!--      <tr class="leaderboar__user leaderboard__user&#45;&#45;5">-->
<!--        <td data-column="Player Details">-->
<!--          <div-->
<!--            class="hstack"-->
<!--            style="-->
<!--              display: flex;-->
<!--              gap: 1rem;-->
<!--              align-items: center;-->
<!--              justify-content: flex-start;-->
<!--              flex-direction: row;-->
<!--            "-->
<!--          >-->
<!--            <a-->
<!--              class="avatar-link link hint&#45;&#45;top"-->
<!--              aria-label=""-->
<!--              href="/player/7R9WlalkmnObnjX3U0aolPmO0vO2"-->
<!--              ><div style="position: relative">-->
<!--                <div class="avatar-link__image avatar-link__image&#45;&#45;pro">-->
<!--                  <img-->
<!--                    src="https://firebasestorage.googleapis.com/v0/b/cssbattleapp.appspot.com/o/user%2F7R9WlalkmnObnjX3U0aolPmO0vO2%2Favatar_7R9WlalkmnObnjX3U0aolPmO0vO2.png?alt=media"-->
<!--                    alt=""-->
<!--                    class="leaderboard__user-avatar"-->
<!--                    width="32"-->
<!--                    height="32"-->
<!--                  />-->
<!--                </div>-->
<!--                <div class="avatar-link__probadge-wrap">-->
<!--                  <img-->
<!--                    height="15"-->
<!--                    width="30"-->
<!--                    class="pro-badge"-->
<!--                    src="/images/pro-badge.svg"-->
<!--                    alt="Pro badge"-->
<!--                  />-->
<!--                </div></div-->
<!--            ></a>-->
<!--            <div style="display: flex; gap: 0.25rem; align-items: center">-->
<!--              <a class="name-link" href="/player/7R9WlalkmnObnjX3U0aolPmO0vO2"-->
<!--                ><span class="leaderboard__user-name">VerenaBerg</span></a-->
<!--              >-->
<!--            </div>-->
<!--          </div>-->
<!--        </td>-->
<!--        <td data-column="Score">134352.82</td>-->
<!--        <td data-column="Meta">(194 Targets)</td>-->
<!--        <td data-column="Rank">#05</td>-->
<!--      </tr>-->
<!--      <tr class="leaderboar__user leaderboard__user&#45;&#45;6">-->
<!--        <td data-column="Player Details">-->
<!--          <div-->
<!--            class="hstack"-->
<!--            style="-->
<!--              display: flex;-->
<!--              gap: 1rem;-->
<!--              align-items: center;-->
<!--              justify-content: flex-start;-->
<!--              flex-direction: row;-->
<!--            "-->
<!--          >-->
<!--            <a-->
<!--              class="avatar-link link hint&#45;&#45;top"-->
<!--              aria-label="@underdude"-->
<!--              href="/player/underdude"-->
<!--              ><div style="position: relative">-->
<!--                <div class="avatar-link__image avatar-link__image&#45;&#45;pro">-->
<!--                  <img-->
<!--                    src="https://firebasestorage.googleapis.com/v0/b/cssbattleapp.appspot.com/o/user%2Fo7TVNE0y5ChOGDsyfl3JvcHnmxZ2%2Favatar_o7TVNE0y5ChOGDsyfl3JvcHnmxZ2.jpeg?alt=media"-->
<!--                    alt="underdude avatar"-->
<!--                    class="leaderboard__user-avatar"-->
<!--                    width="32"-->
<!--                    height="32"-->
<!--                  />-->
<!--                </div>-->
<!--                <div class="avatar-link__probadge-wrap">-->
<!--                  <img-->
<!--                    height="15"-->
<!--                    width="30"-->
<!--                    class="pro-badge"-->
<!--                    src="/images/pro-badge.svg"-->
<!--                    alt="Pro badge"-->
<!--                  />-->
<!--                </div></div-->
<!--            ></a>-->
<!--            <div style="display: flex; gap: 0.25rem; align-items: center">-->
<!--              <a class="name-link" href="/player/underdude"-->
<!--                ><span class="leaderboard__user-name">Janne Ala-Äijälä</span></a-->
<!--              >-->
<!--            </div>-->
<!--          </div>-->
<!--        </td>-->
<!--        <td data-column="Score">134112.85</td>-->
<!--        <td data-column="Meta">(194 Targets)</td>-->
<!--        <td data-column="Rank">#06</td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<link href="/styles/leaderboard.css" rel="stylesheet" />
<div
  class="hstack"
  style="
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  "
>
  <table class="leaderboard-table" style="position: relative; z-index: 1">
    <tbody id="leaderboard-body"></tbody>
  </table>
</div>
