<form id="loginForm" style="display: block">
  <div class="mb-3">
    <label for="loginUsername" class="form-label">Username/Email</label>
    <input
      type="text"
      class="form-control"
      id="loginUsername"
      name="loginUsername"
      required
    />
  </div>
  <div class="mb-3">
    <label for="loginPassword" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="loginPassword"
      name="loginPassword"
      required
    />
  </div>

  <button type="button" class="btn btn-primary" id="loginButton">Login</button>
</form>
