<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trascendence</title>
</head>
<body>
    <div id="wrapper">
        <div class="centered-title" id="pageTitle">
            <h1 class="animate__animated animate__bounce" id="pageTitleText">Trascendence</h1>
        </div>
        <div id="accessContainer"></div>
        <div class="button-group">
            <button type="button" class="btn btn-secondary" id="switchButton">Switch Forms</button>
            <button type="button" class="btn btn-info" id="intraLogin">Login with 42</button>
        </div>
    </div>
    <script type="module" src="../src/login.js"></script>
</body>
</html>
