<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transcendence</title>
    <link href="/styles/gamelobby.css" rel="stylesheet">
    <script type="module" src="../src/pongremote.js" defer></script>
</head>
<body>
    <div id="gameOverScreen" style="display: none; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: #5a9eff;" id="winnerMessage"></h1>
        <button id="goBackButton" class="btn btn-primary m-2">Go Back</button>
        <button id="playAgainButton" class="btn btn-primary m-2">Play Again</button>
    </div>
    <canvas id="pongRemoteGameCanvas"></canvas>
</body>
</html>
