<link href="/styles/profile.css" rel="stylesheet" />
<div class="centered-container">
  <div class="col-lg-7 pb-5">
    <div class="author-card pb-3">
      <div class="author-card-cover"></div>
      <div class="author-card-profile">
        <div class="author-card-avatar">
          <img id="userAvatar" alt="User Avatar" />
          <input
            id="fileInput"
            type="file"
            accept="image/*"
            style="display: none"
          />
        </div>
        <div class="author-card-details">
          <h5 id="userName" class="author-card-name text-lg"></h5>
          <span id="userPosition" class="author-card-position">
            <span id="joined">Joined</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Profile Settings-->
<div class="centered-container">
  <div class="col-lg-8 pb-5">
    <form class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="account-fn" id="usernameLabel">Username</label>
          <input
            class="form-control"
            type="text"
            id="account-fn"
            required=""
            placeholder="Username"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="account-email" id="emailLabel">E-mail Address</label>
          <input
            class="form-control"
            type="email"
            id="account-email"
            required=""
            placeholder="E-mail Address"
          />
        </div>
      </div>
      <div class="col-12 text-center pb-4">
        <hr class="mt-2 mb-3" />
        <div class="row justify-content-center">
          <div class="col-sm-6 text-center">
            <button
              class="btn btn-style-1 btn-primary"
              type="button"
              id="updateUsernameButton"
              data-toast=""
              data-toast-position="topRight"
              data-toast-type="success"
              data-toast-icon="fe-icon-check-circle"
              data-toast-title="Success!"
              data-toast-message="Your username has been updated successfully."
            >
              Update Username
            </button>
          </div>
          <div class="col-sm-6 text-center">
            <button
              class="btn btn-style-1 btn-primary"
              type="button"
              id="updateEmailButton"
              data-toast=""
              data-toast-position="topRight"
              data-toast-type="success"
              data-toast-icon="fe-icon-check-circle"
              data-toast-title="Success!"
              data-toast-message="Your email has been updated successfully."
            >
              Update Email
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="account-pass" id="newPasswordLabel">New Password</label>
          <input
            class="form-control"
            type="password"
            id="account-pass"
            placeholder="New Password"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="account-confirm-pass" id="confirmPasswordLabel"
            >Confirm Password</label
          >
          <input
            class="form-control"
            type="password"
            id="account-confirm-pass"
            placeholder="Confirm Password"
          />
        </div>
      </div>
      <div class="col-12 text-center">
        <hr class="mt-2 mb-3" />
        <button
          class="btn btn-style-1 btn-primary"
          type="button"
          id="changePasswordButton"
          data-toast=""
          data-toast-position="topRight"
          data-toast-type="success"
          data-toast-icon="fe-icon-check-circle"
          data-toast-title="Success!"
          data-toast-message="Your password updated successfuly."
        >
          Change Password
        </button>
      </div>
    </form>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="confirmationModal"
  tabindex="-1"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Update Status</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="modalMessage">
        <!-- Message will be injected here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
