*{text-decoration: none;color: rgb(255, 135, 211);}
html{background-color:rgb(255, 211, 239);background-image: url("./img/sfondo.jpg");background-repeat: no-repeat;background-size: cover;background-position: center;position: fixed;top: 0;left: 0;height: 100vh;width: 100vw;margin: 0;padding: 0;}
body{height: 100%;width: 100%;margin: 0;padding: 0;position: fixed;top: 0;}
.centro,.centro2{background-color: white;border: 2px solid rgb(255, 129, 190);border-radius: 3%;margin-top: 2vh;padding: 30px;}
.centro{width: 500px;}
.centro2{width: 800px;}
.sottotitolo, .sottotitolod{font-size: 25px;}
.sottotitolod{text-align: left;}
.titolo{font-size: 30px;}
.link{text-decoration: underline;}
.pulsanti{background-color: rgb(255, 184, 217);color: white;font-size: 20px;border: 2px solid rgb(255, 129, 190);border-radius: 3%;}
.img{width: auto;height: 200px;}
.linea{border: rgb(255, 135, 211) 1px solid;width: 80%;}